{% extends 'partials/base.html' %}
{% block title %} Log in {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="border p-3 bg-black">
                <h3>Login</h3>
                <hr>
                <form method="POST">
                    {%csrf_token%}
                    {{form|crispy}}
                    <br>
                    <input class ="btm btn-success" type="submit" value="Login" style="border-radius: 8px;">
                </form>
            </div> 
        </div>
    </div>
</div>
{%endblock%}